<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
.home p{
   padding: 12px 20px;
  margin: 10px 20px;
  box-sizing: border-box;
}

.instruction {
position: absolute;
  bottom: 8px;
  left: 16px;
}

</style>
{% extends 'base.html' %}

{% block content %}
<form action="http://localhost:5000" method="post" class="home">
        {{form.hidden_tag()}}
    <p> {{ form.bookname.label }} : {{ form.bookname }}</p>
    <p>{{form.membername.label}} : {{form.membername}}</p>
    <p>{{form.retcharge.label}} : {{form.retcharge}}</p>
    <p>{{form.selectaction.label}} : {{form.selectaction}}</p>
    <p>{{ form.submit }}</p>
</form>
<h1>{{msg}}</h1>
<p>{{brow}}</p>
<p>{{retn}}</p>
<p class="instruction">* Enter Book Name, Member Name for borrowing a book.<br>
* Enter Book Name, Member Name, Charges for returning the book.
</p>

{% endblock %}
</body>
</html>